/* Custom styles */

/* Button styles */
.btn-white {
  background-color: #79b8ff !important;
  color: #032f62 !important;
  border-color: #79b8ff !important;
}

.btn-white:hover {
  background-color: #2188ff !important;
  border-color: #2188ff !important;
}

.btn-gh {
  color: #79b8ff !important;
  border-color: #79b8ff !important;
}

.btn-gh:hover {
  background-color: transparent !important;
  color: #2188ff !important;
  border-color: #2188ff !important;
}

/* Icon and illustration fills */
.fill-fade-white { fill: rgba(255, 255, 255, 0.5); }
.fill-blue-200 { fill: #c8e1ff; }
.fill-blue-300 { fill: #79b8ff; }
.fill-blue-400 { fill: #2188ff; }
.fill-blue-500 { fill: #0366d6; }
.fill-blue-600 { fill: #005cc5; }

.border-white-fade { border-color: rgba(255, 255, 255, 0.15) !important; }

.divider {
  border-top: 2px solid #79b8ff !important;
  opacity: 0.15;
}

/* Primer colors */
.bg-blue-200 { background-color: #c8e1ff; }
.bg-blue-300 { background-color: #79b8ff; }
.bg-blue-400 { background-color: #2188ff; }
.bg-blue-300 { background-color: #79b8ff; }
.bg-blue-600 { background-color: #005cc5; }
.bg-blue-700 { background-color: #044289; }
.bg-blue-800 { background-color: #032f62; }
.bg-blue-900 { background-color: #05264c; }

.text-blue-200 { color: #c8e1ff; }
.text-blue-300 { color: #79b8ff; }
.text-blue-400 { color: #2188ff; }

.text-red-300 { color: #f97583; }

.bg-gray-800 { background-color: #2f363d; }
.bg-black { background-color: #1b1f23; }

/* Background images */
.squiggles1 {
  background-image: url("squiggles1.svg");
  background-repeat: no-repeat;
  background-position: top 8% right 16%;
}

.squiggles2 {
  background-image: url("squiggles2.svg");
  background-repeat: no-repeat;
  background-position: top 6% left 50%;
}

.squiggles3 {
  background-image: url("squiggles3.svg");
  background-repeat: no-repeat;
  background-position: top 4% left 16%;
}
