<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Auto" defaultResponseMode="ExecuteURL" >
      <remove statusCode="404"/>
      <error statusCode="404" responseMode="ExecuteURL" path="/404/index.html" />
    </httpErrors>
    <rewrite>
      <rules>
        <!--BEGIN SSL-->
        <rule name="ForceSSL" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{C:2}/{R:1}" redirectType="Permanent" />
        </rule>
        <!--END SSL-->
        <!--BEGIN Trailing slash enforcement-->
        <rule name="Add trailing slash" stopProcessing="true">
          <match url="(.*[^/])$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.*?)\.[a-zA-Z]{1,4}$" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}/" />
        </rule> 
        <!--END Trailing slash enforcement-->
        <!--BEGIN Primer React Components-->
        <rule name="React proxy" stopProcessing="true">
          <match url="^react/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(?:www.)?(.*)$" />
          </conditions>
          <action type="Rewrite" url="https://primer.github.io/react/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://primer.github.io/react/{R:1}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <!--END Primer React Components-->
        <!--BEGIN Primer CSS-->
        <rule name="CSS proxy" stopProcessing="true">
          <match url="^css/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(?:www.)?(.*)$" />
          </conditions>
          <action type="Rewrite" url="https://primer.github.io/css/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://primer.github.io/css/{R:1}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <!--END Primer CSS-->
        <!--BEGIN Primer ViewComponents-->
        <rule name="ViewComponents Storybook proxy" stopProcessing="true">
          <match url="^view-components/stories/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(?:www.)?(.*)$" />
          </conditions>
          <action type="Rewrite" url="https://view-components-storybook.eastus.cloudapp.azure.com/view-components/stories/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://view-components-storybook.eastus.cloudapp.azure.com/view-components/stories/{R:1}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <rule name="ViewComponents proxy" stopProcessing="true">
          <match url="^view-components/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(?:www.)?(.*)$" />
          </conditions>
          <action type="Rewrite" url="https://primer.github.io/view_components/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://primer.github.io/view_components/{R:1}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <!--END Primer ViewComponents-->
        <!--BEGIN Primer Design-->
        <rule name="Design proxy" stopProcessing="true">
          <match url="^design/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(?:www.)?(.*)$" />
          </conditions>
          <action type="Rewrite" url="https://primer.github.io/design/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://primer.github.io/design/{R:1}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <!--END Primer Design-->
        <!--BEGIN Primer Presentations-->
        <rule name="Presentations proxy" stopProcessing="true">
          <match url="^presentations/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(?:www.)?(.*)$" />
          </conditions>
          <action type="Rewrite" url="https://primer.github.io/presentations/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://primer.github.io/presentations/{R:1}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <!--END Primer Presentations-->
        <!--BEGIN Primer Doctocat-->
        <rule name="Doctocat proxy" stopProcessing="true">
          <match url="^doctocat/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(?:www.)?(.*)$" />
          </conditions>
          <action type="Rewrite" url="https://primer.github.io/doctocat/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://primer.github.io/doctocat/{R:1}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <!--END Primer Doctocat-->
        <!--BEGIN Primer CLI-->
        <rule name="CLI proxy" stopProcessing="true">
          <match url="^cli/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(?:www.)?(.*)$" />
          </conditions>
          <action type="Rewrite" url="https://primer.github.io/cli/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://primer.github.io/cli/{R:1}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <!--END Primer CLI-->
        <!--BEGIN Primer Octicons-->
        <rule name="Octicons proxy" stopProcessing="true">
          <match url="^octicons/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(?:www.)?(.*)$" />
          </conditions>
          <action type="Rewrite" url="https://primer.github.io/octicons/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://primer.github.io/octicons/{R:1}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <!--END Primer Octicons-->
        <!--BEGIN Primer Primitives-->
        <rule name="Primitives proxy" stopProcessing="true">
          <match url="^primitives/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(?:www.)?(.*)$" />
          </conditions>
          <action type="Rewrite" url="https://primer.github.io/primitives/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://primer.github.io/primitives/{R:1}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <!--END Primer Primitives-->
        <!--BEGIN Primer Mobile-->
        <rule name="Mobile proxy" stopProcessing="true">
          <match url="^mobile/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(?:www.)?(.*)$" />
          </conditions>
          <action type="Rewrite" url="https://primer.github.io/mobile/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://primer.github.io/mobile/{R:1}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <!--END Primer Mobile-->
        <!--BEGIN Primer React Brand-->
        <rule name="React Brand proxy" stopProcessing="true">
          <match url="^react-brand/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(?:www.)?(.*)$" />
          </conditions>
          <action type="Rewrite" url="https://primer.github.io/react-brand/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://primer.github.io/react-brand/{R:1}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <!--END Primer React Brand-->
        <!--BEGIN Primer Desktop-->
        <rule name="Desktop proxy" stopProcessing="true">
          <match url="^desktop/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(?:www.)?(.*)$" />
          </conditions>
          <action type="Rewrite" url="https://primer.github.io/desktop/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://primer.github.io/desktop/{R:1}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <!--END Primer Desktop-->
        <!--BEGIN Primer Contribute-->
        <rule name="Contribute proxy" stopProcessing="true">
          <match url="^contribute/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(?:www.)?(.*)$" />
          </conditions>
          <action type="Rewrite" url="https://primer.github.io/contribute/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://primer.github.io/contribute/{R:1}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <!--END Primer Contribute-->
        <!--BEGIN Primer Prism-->
        <rule name="Prism proxy" stopProcessing="true">
          <match url="^prism/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(?:www.)?(.*)$" />
          </conditions>
          <action type="Rewrite" url="https://primer.github.io/prism/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://primer.github.io/prism/{R:1}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <!--END Primer Prism-->
        <rule name="Redirect /components" stopProcessing="true">
          <match url="^components/(.*)" />
          <action type="Redirect" redirectType="Permanent" url="/react" />
        </rule>
      </rules>
      <outboundRules>
        <preConditions>
          <preCondition name="CheckContentType">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^(text/html|text/plain|text/xml|application/rss\+xml)" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>