<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpErrors errorMode="Detailed" />
		<rewrite>
			<rules>
				<rule name="ForceSSL" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
				</rule>
        <rule name="Add trailing slash" stopProcessing="true">
          <match url="(.*[^/])$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.*?)\.html$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.*?)\.css$" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}/" />
        </rule>
				<rule name="React proxy" stopProcessing="true">
					<match url="^react/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^primerstyle.azurewebsites\.net$" />
          </conditions>
					<action type="Rewrite" url="https://primer.github.io/react/{R:1}" />
					<serverVariables>
						<set name="HTTP_X_UNPROXIED_URL" value="https://primer.github.io/react/{R:1}" /> 
						<set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" /> 
						<set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
						<set name="HTTP_ACCEPT_ENCODING" value="" />
					</serverVariables>
				</rule>
        <rule name="CSS proxy" stopProcessing="true">
					<match url="^css/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^primerstyle.azurewebsites\.net$" />
          </conditions>
					<action type="Rewrite" url="https://primer.github.io/css/{R:1}" />
					<serverVariables>
						<set name="HTTP_X_UNPROXIED_URL" value="https://primer.github.io/css/{R:1}" /> 
						<set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" /> 
						<set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
						<set name="HTTP_ACCEPT_ENCODING" value="" />
					</serverVariables>
				</rule>
        <rule name="ViewComponents Storybook proxy" stopProcessing="true">
					<match url="^view-components/stories/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^primerstyle.azurewebsites\.net$" />
          </conditions>
					<action type="Rewrite" url="https://view-components-storybook.eastus.cloudapp.azure.com/view-components/stories/{R:1}" />
					<serverVariables>
						<set name="HTTP_X_UNPROXIED_URL" value="https://view-components-storybook.eastus.cloudapp.azure.com/view-components/stories/{R:1}" /> 
						<set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" /> 
						<set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
						<set name="HTTP_ACCEPT_ENCODING" value="" />
					</serverVariables>
				</rule>
        <rule name="ViewComponents proxy" stopProcessing="true">
					<match url="^view-components/(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^primerstyle.azurewebsites\.net$" />
          </conditions>
					<action type="Rewrite" url="https://primer.github.io/view_components/{R:1}" />
					<serverVariables>
						<set name="HTTP_X_UNPROXIED_URL" value="https://primer.github.io/view_components/{R:1}" /> 
						<set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" /> 
						<set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
						<set name="HTTP_ACCEPT_ENCODING" value="" />
					</serverVariables>
				</rule>
        
			</rules>
			<outboundRules>
				<!-- <rule name="ChangeReferencesToOriginalUrl" patternSyntax="ExactMatch" preCondition="CheckContentType">
          <match filterByTags="None" pattern="https://primer.github.io/react" />
          <action type="Rewrite" value="https://{HTTP_X_ORIGINAL_HOST}" />
        </rule>
       -->
				<preConditions>
					<preCondition name="CheckContentType">
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^(text/html|text/plain|text/xml|application/rss\+xml)" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
	</system.webServer>
</configuration>